body {
    font-family: Josefin Sans;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f6f6f6;
}

/*Global*/
.container {
    width: 90%;
    margin: auto;
    align-items: center;
    overflow: hidden;
}

.box {
    width: 90%;
    align-items: center;
    display: flex;
    overflow: hidden;
}

p {
    line-height: 2;
    font-size: 16px;
}
/*Global*/

/*navBar*/
#navBar nav {
    float: none;
}

#navBar li {
    display: inline;
    margin-left: 5.5%;
}

#navBar a {
    text-transform: uppercase;
    font-family: Josefin Sans;
    font-weight: 700;
    text-decoration: none;
    color: black;
}
/*navBar*/

/*showcase*/
#showcase {
    background: url(Images/Polygon.jpg) no-repeat center;
    background-size: cover;
    background-attachment: local;
    padding-top: 2.5%;
    text-align: center;
    font-family: Josefin Sans;
    font-size: 175%;
    font-weight: 300;
    color: #5180b9;
    box-shadow: inset rgba(146, 146, 146, 0.50) 0 -6px 20px 0px;
    height: 45vh;
    display: flex;
    background-size: cover;
}

#showcase img {
    width: inherit;
    max-width: 350px;
    height: auto;
    margin-bottom: -3%;
    pointer-events: none;
}
/*showcase*/

/*Fonts*/
@font-face {
    font-family: Josefin Sans;
    src: url(/Fonts/JOSEFINSANS-THIN_0.TTF);
    font-weight:100;
}
@font-face {
    font-family: Josefin Sans;
    src: url(/Fonts/JOSEFINSANS-LIGHT_0.TTF);
    font-weight: 300;
}
@font-face {
    font-family: Josefin Sans;
    src: url(/Fonts/JOSEFINSANS-REGULAR_0.TTF);
    font-weight: 400;
}
@font-face {
    font-family: Josefin Sans;
    src: url(/Fonts/JOSEFINSANS-SEMIBOLD_0.TTF);
    font-weight: 600;
}
@font-face {
    font-family: Josefin Sans;
    src: url(/Fonts/JOSEFINSANS-BOLD_0.TTF);
    font-weight: 700;
}
/*Fonts*/