body {
  font-family: Josefin Sans;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #f6f6f6;
}

/*Global*/

.container {
  padding: 1.5% 3% 1.5% 3%;
  display: flex;
  margin-bottom: 0%;
  border-bottom: 1px solid #d4d2d2;
}

.box {
  padding: 1.5%;
  align-items: center;
  float: left;
  width: 33%;
}

.profile {
  width: 15%;
  align-items: center;
  font-size: 14px;
  line-height: 1.5;
}

.profile img {
  width: 25%;
  margin-bottom: 5%;
}

.abstract {
  width: 70%;
}

.video {
  width: 65%;
}

.statistics {
  width: 35%;
  padding: 0% 2% 0% 2%;
}

.PledgeForm {
  height: auto;
}

textarea {
  width: 100%;
  resize: none;
}

input {
  width: 100%;
}

textarea, input[type=text], [type=password] {
  padding: 3% 5% 3% 3%;
  border: 1px solid #d5d5d5;
  font-family: Josefin Sans;
  font-size: 16px;
  box-sizing: border-box;
  margin: 2.5% 0% 3% 0%;
}

textarea, input[type=text]:focus, [type=password]:focus {
  border: 1px solid #0a7800;
  outline: none;
}

.formButton {
  width: 100%;
  background-color: #329d60;
  border: none;
  color: #f6f6f6;
  padding: 3% 20% 3% 20%;
  font-family: Josefin Sans;
  font-size: 16px;
}

.formButton:hover {
  background-color: #2b8e56;
  color: #f6f6f6;
}

.formButton:active {
  background-color: #237044;
  color: #f6f6f6;
}

.showcase {
  line-height: 0;
  text-align: left;
  font-family: Josefin Sans;
  font-weight: 300;
  padding: 3% 3% 3% 3%;
  margin: 1.5% 0% 0% 0%;
  display: flex;
  border-bottom: 1px solid #d4d2d2;
  border-top: 1px solid #d4d2d2;
}

.Login, .CreateUser {
  margin: 2% 30% 2% 30%;
  align-items: center;
}

.CreateProjectBox{
  margin: 5% 10% 5% 10%;
}

.dataNums {
  font-size: 20px;
  color: #329d60;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  background: #ffffff;
  background-image: none;
  border: 1px solid #025906;
}

select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 0;
  color: #fff;
  cursor: pointer;
}

.profilePage{
  align-items: center;
  padding: 2% 5% 5% 5%;
}

.profilePageBody {
  display: flex;
  align-items: center;
}

.profileProjectList {
  width: 50%;
  padding: 2%;
  margin-bottom: 1%;
}

.profilePledgeList {
  width: 50%;
  padding: 2%;
}

option{
  color: #666666;
  font-size: 18px;
  padding: 1%;
}

select[multiple]:focus, option:checked {
  background: linear-gradient(90deg, #329d60 0%, #ffffff 95%);
}

option:hover {
  background-color: #c6e7cc;
}

.info {
  padding: 1.5% 3% 1.5% 3%;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

#myProgress {
  width: 100%;
  background-color: #d7d7d7;
  margin-bottom: 5%;
}

#myBar {
  width: 50%;
  height: 4px;
  background-color: #329d60;
}

/*navBar*/

.navBar {
  height: 10%;
}

.navBar nav {
  float: none;
}

.navBar li {
  display: inline;
  margin-left: 5.5%;
}

.navBar a {
  text-transform: uppercase;
  font-family: Josefin Sans;
  font-weight: 700;
  text-decoration: none;
  color: black;
}

/*navBar*/

.homeStatistics {
  height: 20%;
  align-items: center;
  border-top: 1px solid #21782c;
  border-bottom: 1px solid #21782c;
}

.homeStatistics table, tr {
  border-collapse: collapse;
  align-items: center;
}

.statisticsBox {
  width: 1%;
  align-items: center;
  padding: 2.5%;
  display: table-cell;
}

.grid-container {
  display: grid;
  grid-gap: 2.5em;
  grid-template-columns: auto auto auto;
  padding: 2.5%;
}

.grid-item {
  border: 1px solid #c4c4c4;
  font-size: 18px;
  align-items: center;
}

.project-image {
  border-bottom: 1px solid #c4c4c4;
}

.project-image img {
  height: 40vh;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.project-block-info {
  padding-top: 7.5%;
  padding-left: 7.5%;
  padding-right: 7.5%;
}

.project-block-statistics {
  font-size: 14px;
  color: #6e6a6a;
  padding: 7.5%;
}

.divider {
  border-right: 2px solid #d0d0d0;
}

.bold {
  font-weight: bold;
}
/* Style the tab */

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
/*Global*/

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #3b6737;
}

/*Fonts*/

@font-face {
  font-family: Josefin Sans;
  src: url(/Fonts/JOSEFINSANS-THIN_0.TTF);
  font-weight: 100;
}

@font-face {
  font-family: Josefin Sans;
  src: url(/Fonts/JOSEFINSANS-LIGHT_0.TTF);
  font-weight: 300;
}

@font-face {
  font-family: Josefin Sans;
  src: url(/Fonts/JOSEFINSANS-REGULAR_0.TTF);
  font-weight: 400;
}

@font-face {
  font-family: Josefin Sans;
  src: url(/Fonts/JOSEFINSANS-SEMIBOLD_0.TTF);
  font-weight: 600;
}

@font-face {
  font-family: Josefin Sans;
  src: url(/Fonts/JOSEFINSANS-BOLD_0.TTF);
  font-weight: 700;
}

/*Fonts*/
